<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Welcome</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
<ion-grid>
  <ion-row>
    <ion-col>
      <img src="../../assets/img1.jpg" alt="" class="student-img">
      <h2 class="contents">Hi there!</h2>
      <p class="title">Welcome to ionic app.Please open side menu to view pages <br> thanks</p>
    </ion-col>
  </ion-row>
</ion-grid>
</ion-content>
